@page {
    size: a3 portrait;
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

body {
    font-size: 27px;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

table {
    display: table;
    width: 100%;
    border-collapse: separate;
    border-width: 1px; 
    border-style: solid; 
    border-color: black;
    border-collapse: collapse;
}

table tr {
    display: table-row;
    height: 10px;
}

table th {
    text-align: center;
}

table th, table td {
    display: table-cell;
    border-width: 1px;
    border-style: solid; 
    border-color: black;
}

.room {
    page-break-before: always;
}

.conf_title {
    display: block;
    float: left;
    width: 195px;
    height: 85px;
    margin-top: -25px;
    margin-bottom: 1.7em;
    background: url('cdl.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.day_title {
    float: right;
    text-transform: capitalize;
}

.room_title {
    font-weight: 700;
    text-align: center;
    margin-top: 25px;
}

.event_date {
    width: 195px;
    text-align: center;
}

.event_cell {
    width: auto;
    text-align: center;
}

.event_title {
    margin-top: 10px;
    margin-bottom: 12px;
}

.event_persons {
    font-style: italic;
    margin-bottom: 10px;
}
